body > div {
    font-size: 1rem;
}
body {
    background-color: #fff;
    color: #5b5e5e;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    margin: 0;
}
/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232525;
    font-family: 'Arbutus Slab', serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 20px;
}

h1 {
    font-size: 36px;
    font-size: 2.25rem;
}

h2 {
    font-size: 30px;
    font-size: 1.875rem;
}

h3 {
    font-size: 28px;
    font-size: 1.75rem;
}

.comment-respond h3,
.entry-comments h3 {
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: -2px;
    margin-bottom: 3.750rem;
    margin-top: 6.25rem;
}

h4 {
    font-size: 24px;
    font-size: 1.5rem;
}

h5 {
    font-size: 20px;
    font-size: 1.25rem;
}

h6 {
    font-size: 18px;
    font-size: 1.125rem;
}


a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img,
.site-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:    all 0.2s ease-in-out;
    -ms-transition:     all 0.2s ease-in-out;
    -o-transition:      all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
}

a {
    color: #232525;
    text-decoration: none;

}
a:focus, a:hover {
    color: #e85555;
    text-decoration: none;
}
.navbar-brand {
    padding-top: 0.15rem;
}
.navbar-brand > a {
    color: #232525;
    font-family: 'Arbutus Slab', serif;
    font-size: 20px;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
#masthead .navbar-nav > li a {
    border-bottom-width: 0;
    color: #232525;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px;
    text-transform: uppercase;
}
#masthead .navbar-nav > li > a:focus, #masthead .navbar-nav > li > a:hover {
    color: #e85555 !important;
}
div#page-sub-header h1 {
    font-family: 'Arbutus Slab', serif;
    font-size: 84px;
    font-size: 5.25rem;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 1.2;
    margin-bottom: 0;
    text-transform: none;
}
div#page-sub-header p {
    max-width: 100%;
    font-size: 24px;
    font-size: 1.5rem;
}
.page .entry-title, .single .entry-title, .blog .entry-title {
    font-size: 38.4px;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -3px;
}

#secondary .widget-title {
    font-family: 'Arbutus Slab', serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.entry-meta {
    font-family: 'Arbutus Slab', serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.post-thumbnail {
    margin-bottom: 1.875rem;
}
.form-control {
    font-size: 1rem;
}